@use "../../styles/_colors.scss" as colors;
@use "../../styles/fonts/" as fonts;

.container {
  display: flex;
  width: 100%;
  min-height: 65px;
  height: fit-content;
  &:hover {
    background-color: colors.$row-hover-color;
    cursor: pointer;
  }
  &__row {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 15px;
    align-items: center;
    border-top: 1px solid colors.$audio-player-color;

    &_type {
      width: 5.4%;
    }

    &_time {
      width: 8.6%;
      color: colors.$row-text-color;
    }
    &_avatar {
      width: 9%;
    }
    &_number {
      width: 22.6%;
      color: colors.$row-text-color;
    }
    &_source {
      width: 14.8%;
      color: colors.$main-text-color;
    }
    &_rating {
      width: 32%;
    }
    &_duration {
      width: 7.6%;
      height: fit-content;
      color: colors.$row-text-color;
      text-align: right;
    }
  }
}
